﻿@model SalesTemplate.Models.CartModel
<div class="block-form box-border">
    <h3>10% to Animal Charity</h3>
    <hr>
    @Html.DropDownListFor(x => x.Charities, new SelectList(Model.Charities, "ID", "CharityName"), new { @class = "charities-dropdown form-control" })
</div>