﻿@model SalesTemplate.Models.BaseModel
<div style="display: none;">
    <div class="email-request-html">
        Sign up now for our email updates and offers and receive a $@Model.CurrentPromoAmount coupon for use on any order!<br /><br />
        <div class="form-group has-feedback" style="margin-bottom: 25px;">
            <input type="text" id="erEmailAddress" class="form-control er-input" placeholder="Email Address" />
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>
    <div class="email-request-success">
        <div style="margin-bottom: 25px;">
            Congratulations! Save this Coupon Code to redeem your $@Model.CurrentPromoAmount reward.<br /><br />
            <div class="coupon"></div>
        </div>        
    </div>
</div>

<button class="wait-spinner-record-email btn-wait pull-right ajs-button" style="width: 88px; background-color: unset;" disabled="disabled">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</button>