﻿@model SalesTemplate.Models.BaseModel
<div class="header-top-login">
    <div class="container">
        <div class="row">
            <div class="main-func">
                <div class="col-sm-6 col-md-4 col-md-offset-2 col-lg-4  col-lg-offset-2 ">
                    <div class="block-form">
                        <form id="login-form">
                            <h3>Account login</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback" style="margin: 0px;">
                                        <input type="text" class="top-input form-control" id="login-username" placeholder="Email Address">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <input type="password" class="top-input form-control" id="login-password" placeholder="Password">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        <input type="submit" value="Login" class="header-login-btn btn-default-1">                                   
                                        <div class="remember-me-wrap pull-right clearfix" style="">
                                            <ul class="account-menu-list list-unstyled">
                                                <li><input type="checkbox" checked="checked" class="remember-me-cb pull-left form-control" /><a class="remember-me">Remember Me</a></li>
                                            </ul>
                                        </div>  

                                        <div class="forgot-pw-wrap clearfix pull-right">
                                            <ul class="account-menu-list list-unstyled">
                                                <li><a class="forgot-pw-btn">Forgot Password</a></li>
                                            </ul>
                                        </div>                                      

                                    </div>                                                                       
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="block-form">
                        <h3>Create new account</h3>
                        <form id="new-account-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6" style="padding-right: 5px;">
                                            <div class="form-group has-feedback" style="margin: 0px;">
                                                <input type="text" class="top-input form-control" id="reg-top-first-name" placeholder="First Name">
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" style="padding-left: 5px;">
                                            <div class="form-group has-feedback" style="margin: 0px;">
                                                <input type="text" class="top-input form-control" id="reg-top-last-name" placeholder="Last Name">
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <input type="email" class="top-input form-control" id="reg-top-email" placeholder="Email Address">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>                                    
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="Continue" class="btn-default-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 text-center">

                </div>
            </div>
            <div class="forgot-pw-pane">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-left">
                    <div class="block-form">
                        <form id="forgot-pw-form">
                            <h3>Forgot Password</h3>
                            <div class="form-group has-feedback" style="margin: 0px;">
                                <input type="text" class="top-input form-control" id="forgot-pw-input" placeholder="Email Address">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <div>
                                <div class="forgot-pw-wrap clearfix pull-right">
                                    <ul class="account-menu-list list-unstyled">
                                        <li><a class="cancel-forgot-pw">Cancel</a></li>
                                    </ul>
                                </div>  
                                <input type="submit" value="Continue" class="cont-forgot-pw pull-left btn-default-1">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <a href="#" id="header-login-close"><i class="icon-remove"></i> </a>
</div>
<div class="header-top-row">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- header-account menu -->
                <ul class="account-menu-list list-unstyled">
                    <li><a href="@(User.Identity.IsAuthenticated ? "/Profile" : "/Login?Redirect=true&RedirectTo=Profile")">Profile</a></li>
                    <li><a href="/Wishlist">Wishlist</a></li>

                    @if (Model.ShoppingCart.Order.OrderLineItems.Count > 0)
                    {
                        <li><a href="/Checkout">Checkout</a></li>
                    }
                    else
                    {
                        <li><a href="/About">About</a></li>
                    }

                    <li><a href="/Cart">Cart</a></li>
                </ul>
                <!-- /header-account menu -->
            </div>
            <div class="col-md-4">
                <div id="first-welcome">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p> Welcome, @Model.FirstName!</p>
                    }
                    else
                    {
                        <p> Welcome visitor you can  <a href="#" id="header-login"> Login or Sign Up</a></p>
                    } 
                </div>
            </div>
            <div class="col-md-4">
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="first-welcome" class="pull-right">
                        <ul class="account-menu-list list-unstyled">
                            <li><a class="login-logout">Logout</a></li>
                        </ul>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var lock = false;
    $('#login-form').on('submit', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        login();
    });
    $('#new-account-form').on('submit', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        registerRedirect();
    });
    $('#forgot-pw-form').on('submit', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        forgotPassword();
    });
    $(document).on('focus', '.top-input', function () {
        removeErrorTopInput($(this));
    });
    $(document).on('keydown', '.top-input', function () {
        removeErrorTopInput($(this));
    });
    $('.remember-me').on('click', function () {
        if ($('.remember-me-cb').is(':checked')) {
            $('.remember-me-cb').prop('checked', false);
        }
        else {
            $('.remember-me-cb').prop('checked', true);
        }
    });
    $('.forgot-pw-btn').on('click', function () {
        $('.main-func').hide();
        $(".forgot-pw-pane").animate({ width: 'toggle' }, 200);
        $('#forgot-pw-input').focus();
        removeErrorTopInput();
    });
    $('.cancel-forgot-pw').on('click', function () {
        $('.forgot-pw-pane').hide();
        $(".main-func").animate({ width: 'toggle' }, 200);
        $('#login-username').focus();
        removeErrorTopInput();
    });
    function removeError(elem) {
        removeBasicInputError(elem);
    }
    function login() {
        var password = $('#login-password');
        var email = $('#login-username');
        if (password.val() != '' && email.val() != '') {
            if (!isValidEmailAddress(email.val())) {
                addBasicInputError(email);
                alertify.error('Invalid Email Address');
            }
            else {
                $.post('/Login/Login', getLoginData(), loginResult);
            }
        }
        else {
            if (email.val() == '') {
                addBasicInputError(email);
            }
            if (password.val() == '') {
                addErrorPasswordTopInput(password);
            }
        }
    }
    function registerRedirect() {
        var firstName = $('#reg-top-first-name');
        var lastName = $('#reg-top-last-name');
        var email = $('#reg-top-email');
        if (firstName.val() != '' && lastName.val() != '' && email.val() != '') {
            if (!isValidEmailAddress(email.val())) {
                addBasicInputError(email);
                alertify.error('Invalid email address');
            }
            else {
                $.post('/Login/Register', getRegisterRedirectData(), registerRedirectResult);
            }
        }
        else {
            if (firstName.val() == '') {
                addBasicInputError(firstName);
            }
            if (lastName.val() == '') {
                addBasicInputError(lastName);
            }
            if (email.val() == '') {
                addBasicInputError(email);
            }
        }        
    }
    function forgotPassword() {
        var email = $('#forgot-pw-input');
        if (email.val() != '') {
            if (!isValidEmailAddress(email.val())) {
                email.closest('div').addClass('has-error');
                email.next().addClass('glyphicon-remove');
                alertify.error('Invalid email address');
            }
            else {
                if (!lock) {
                    lock = true;
                    $.post('/Login/ForgotPassword', getForgotPasswordData(), forgotPasswordResult);
                }                
            }
        }
        else {
            if (email.val() == '') {
                email.closest('div').addClass('has-error');
                email.next().addClass('glyphicon-remove');
            }
        }  
    }    
    function getRegisterRedirectData() {
        return {
            __RequestVerificationToken: GLB_TOKEN,
            FirstName: $('#reg-top-first-name').val(),
            LastName: $('#reg-top-last-name').val(),
            EmailAddress: $('#reg-top-email').val()
        }
    }
    function getLoginData() {
        return {
            __RequestVerificationToken: GLB_TOKEN,
            EmailAddress: $('#login-username').val(),
            Password: $('#login-password').val(),
            RememberMe: $('.remember-me-cb').is(':checked')
        }
    }
    function getForgotPasswordData() {
        return {
            __RequestVerificationToken: GLB_TOKEN,
            username: $('#forgot-pw-input').val()
        }
    }
    function registerRedirectResult(result) {}
    function loginResult(result) {
        if (result) {
            location.reload();
        }
        else {
            alertify.error('Your email address and password do not match. Please try again.');
        }
    }    
    function forgotPasswordResult(result) {
        if (result != '') {
            alertify.success(result, 10, function () {
                if ($('.forgot-pw-pane').is(':visible')) {
                    $('.forgot-pw-pane').hide();
                    $('.main-func').animate({ width: 'toggle' }, 200);
                }
                lock = false;
            });
        }
    }
</script>