﻿@using System.Threading;
@using System.Security.Claims;
<div id="stf-html">    
    <div class="row">
        <div class="col-xs-12">
            <div>Give your friends gift ideas or every day fashion suggestions!</div>
            <br />
            @{ var identity = (ClaimsPrincipal)Thread.CurrentPrincipal; }
            <div class="text-center">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control stf-input" placeholder="Your Name" id="stfRefName" style="margin-bottom: 7px;"
                           value="@(User.Identity.IsAuthenticated ? identity.Claims.Where(x => x.Type == "FirstName").Select(x => x.Value).FirstOrDefault() + " " +
                               identity.Claims.Where(x => x.Type == "LastName").Select(x => x.Value).FirstOrDefault(): "")"/>
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control stf-input" placeholder="Your Email (Optional)" id="stfRefEmail" style="margin-bottom: 7px;" 
                           value="@(User.Identity.IsAuthenticated ? identity.Claims.Where(x => x.Type == "EmailAddress").Select(x => x.Value).FirstOrDefault() : "")" />
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control stf-input" placeholder="Your Friend's Name" id="stfName" style="margin-bottom: 7px;" />
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control stf-input" placeholder="Your Friend's Email" id="stfEmail" style="margin-bottom: 7px;" />
                    <span class="glyphicon form-control-feedback"></span>
                </div>
            </div>
        </div>
    </div>
</div>