﻿<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width: 340px;">
        <div class="modal-content login-bg">
            <div class="modal-header modal-header-st" style="position: relative;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>   
                <div class="login-message" style="position: absolute; top: 20px; left: 100px;"></div>             
            </div>
            <div class="modal-body modal-body-st">
                <div class="login-pane">
                    <div style="vertical-align: top;">
                        <div class="form-group has-feedback">
                            <input type="text" id="liEmailAddress" style="padding-left: 5px; width: 65%; min-width: 340px;" class="form-control" value="@ViewBag.EmailAddress" placeholder="Email Address" />
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="liPassword" style="padding-left: 5px; width: 65%; min-width: 340px;" class="form-control" placeholder="Password" />
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <div>
                            <div style="display: inline-block; margin-top: 7px; margin-left: 3px;">Remember Me</div><div style="display: inline-block; margin: 5px 0 0 10px; vertical-align: top;">@Html.CheckBox("RememberMe", true, new { id = "liRememberMe", @style = "width: 15px; height: 15px; margin-top: 5px;", @class = "form-control" })</div>
                        </div>
                    </div>
                    <span class="forgot-pw">Forgot password</span>
                </div>
                <div class="forgot-pw-pane">
                    <div style="vertical-align: top;">
                        <div class="form-group has-feedback">
                            <input type="text" id="fpEmailAddress" style="padding-left: 5px; width: 65%; min-width: 340px;" class="form-control" placeholder="Email Address" />
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <span class="forgot-pw-msg"></span>
                    <span class="forgot-pw">Contiue to Login</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-login" id="btn-login">Go!</button>
                <button type="button" class="btn btn-default btn-login" style="display: none; margin-left: -20px; color: white;" id="btn-forgot-pw">Submit</button>
            </div>
        </div>
    </div>
</div>