﻿@model SalesTemplate.Models.UpdateProfileViewModel
@Html.HiddenFor(m => m.EmailSubscribed, new { id = "hdnEmailSubscribed" })

<section>
    <div class="block-breadcrumb color-scheme-3">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/Home">Home</a></li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="color-scheme-3 checkout" style="padding-bottom: 35px;">
        <div class="container">
            <div class="header-1">
                <h1>Profile</h1>
                <div class="header-bottom-line"></div>
                <h3>Fast & Easy!</h3>
            </div>
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="box-border block-form">
                        <div style="display: inline-block;">
                            <h3>User Info</h3>
                        </div>
                        <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                            <span class="pull-right glyphicon glyphicon-user"></span>
                        </div>
                        <hr>
                        @Html.Partial("_UserInfo")
                    </div>
                    <div class="box-border block-form">
                        <div style="display: inline-block;">
                            <h3>Card Info</h3>
                        </div>
                        <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                            <i class="pull-right icon-credit-card"></i>
                        </div>
                        <hr>
                        <div>
                            @Html.Partial("_CardInfo")
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="box-border block-form">
                        <div style="display: inline-block;">
                            <h3>Shipping Info</h3>
                        </div>
                        <div style="display: inline-block; margin-left: 7px; margin-bottom: 0px;">
                            <i class="pull-right icon-truck" style="font-size: 12pt;"></i>
                        </div>
                        <hr>
                        @Html.Partial("_ShippingInfo")
                    </div>
                    <div class="box-border block-form">
                        <div style="display: inline-block;">
                            <h3>Preferred Charity</h3>
                        </div>
                        <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                            <i class="pull-right icon-heart"></i>
                        </div>
                        <hr>
                        @Html.Partial("_PreferredCharity")
                    </div>
                    <div class="box-border block-form">
                        <div style="display: inline-block;">
                            <h3>Rewards & Credits</h3>
                        </div>
                        <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                            <span class="pull-right glyphicon glyphicon-usd"></span>
                        </div>
                        <hr>
                        Total: &nbsp;&nbsp;@Model.TotalRewardsAndCredits.ToString("C")
                    </div>
                </article>                
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-top: -18px;">
                    <hr style="border-color: darkgray;" />
                    <input type="button" id="save-changes" class="btn-default-2 pull-right" value="Save Changes" />
                    <button class="wait-spinner-save-changes btn-wait pull-right" style="width: 134px; background-color: unset;" disabled="disabled">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/Site/profile.js"></script>
