﻿@model SalesTemplate.Models.BaseModel

@{
    var flist = Model.Products.Where(x => x.Featured).ToList().Shuffle();
    foreach (var item in flist)
    {
        var parOpts = item.ProductOptions.Where(x => x.ParentOptionID == null).ToList();
        var childOpts = item.ProductOptions.Where(x => parOpts.FirstOrDefault().ID == x.ParentOptionID).ToList();
        string ipath = item.ImagePath;

        if (childOpts.Count > 0)
        {
            ipath = childOpts.Where(x => x.ParentOptionID == parOpts.Select(y => y.ID).First()).Select(z => z.ImagePath).FirstOrDefault();

            if (String.IsNullOrEmpty(ipath))
            {
                ipath = parOpts.Select(y => y.ImagePath).First();

                if (String.IsNullOrEmpty(ipath))
                {
                    ipath = item.ImagePath;
                }
            }
        }

        <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center" style="max-height: 466px;">
            <div class="product" data-product-id="@item.ID">
                <figure class="figure-hover-overlay">
                    <a href="/Products/ProductDetail/@item.SKU" class="figure-href"></a>
                    <div class="product-sale">sale</div>
                    <img src="@ipath" alt="Image" class="img-overlay img-responsive">
                    <img src="@ipath" alt="Image" class="img-responsive">
                    <span class="bar"></span>
                    <figcaption>
                        <a class="grid-add-wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                        <a class="shopping add-cart-btn"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                        <a class="send-to-friend" data-product-id="@item.ID" data-product-name="@item.Name" title="Send to Friend"><i class="glyphicon glyphicon-envelope"></i></a>
                    </figcaption>
                </figure>
                <div class="product-caption">
                    <a href="/Products/ProductDetail/@item.SKU" class="product-name">@item.Name</a>
                    <p>
                        @if (item.ProductOptions != null && item.ProductOptions.Count > 0)
                        {
                            if (item.ProductOptions.Count > 0)
                            {
                                <div class="parent-opt-wrap" style="@(childOpts.Count > 0 ? "margin-top: -18px": "margin-top: -2px")">
                                    <div style="display: inline-block;" class="prod-name-wrapper">
                                        <div class="prod-name">
                                            @parOpts.FirstOrDefault().Name
                                        </div>
                                    </div>
                                    <div style="display: inline-block;">
                                        <select class="product-option option-parent-list">
                                            @foreach (var option in parOpts)
                                            {
                                                if (option.QuantityAvailable > 0 || option.QuantityAvailable == null)
                                                {
                                                    <option value="@option.ID">@(option.ShortValue == null ? option.Value : option.ShortValue)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="child-opt-wrap">
                                    @if (childOpts.Count > 0 && childOpts.Where(x => x.ParentOptionID == parOpts.Select(y => y.ID).First()).Any())
                                    {
                                        @Html.Partial("~/Views/Shared/_ChildOptionList.cshtml", childOpts, new ViewDataDictionary { { "ListName", "option-child-list" }, { "Disabled", false } })
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div><br /></div>
                        }
                    </p>
                    <div class="product-price-wrap" style="@(childOpts.Count > 0 ? "margin-top: -7px" : "")">
                        <p class="product-price">
                            <span>@item.UndiscountedPrice</span>
                            @item.Price
                        </p>
                    </div>
                    <div class="product-rating" style="@(childOpts.Count > 0 ? "margin-top: -4px" : "");">
                        <div class="stars">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
}