﻿@using System.Configuration;
@model SalesTemplate.Models.EmailModel
@{ Layout = null; }
<html style="height: 100%; width: 100%;">
<head>
    <style>
        body {
            background-color: #fff;
            font-family: "Raleway";
            font-size: 11pt;
        }

        .body {
            background-color: #f0f0f0;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        h1,h2,h3,h4,h5,h6,h7 {
            font-family: 'Raleway',sans-serif;
            font-weight: 400;
            color: #444;
        }

        a {
            color: #656565;
            text-decoration: none;
            margin: 0px 10px;
        }

        a:hover, a:focus {
            color: #ee4a42;
        }

        .header {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: right;
            height: 50px;
        }

        .banner {
            color: #ee4a42;            
            text-decoration: none;
            font-size: 28pt;
            float: left;
            padding-top: 3px;
        }

        .top-border {
            background-color: #ee4a42;
            height: 25px;
            font-size: 10pt;
            padding-top: 8px;
        }

        .top-border a {
            color: white;
            text-decoration: none;
        }

        .top-border a:hover {
            color: white;
            text-decoration: none;
        }

        .fa {
            color: black!important;
        }

        .footer {
            background-color: #f8f8f8;
            height: 50px;
            background-color: #ee4a42;
            clear: both;
        }

        .footer-right {
            float: right;
            padding-top: 15px;
            margin-right: 12px;
            position: relative;
        }

        .footer-left {
            float: left;
            padding-top: 18px;
            margin-left: 20px;
        }

        .footer i:hover, i:focus {
            color: white!important;
        }

        .footer-email {
            margin-left: 0px;
            color: white!important;
            text-decoration: none;
            font-size: 10pt;
        }

        .fa-envelope {
            font-size: 12pt;
            margin-right: 4px;
            color: white!important;
        }

        .fa-x {
            font-size: 14pt;
            margin-right: 18px;
        }

        .header-text-lg {
            padding-top: 5px;
            color: white;
            padding-top: 20px;
            margin-left: 20px;
            font-size: 22pt;
        }

        .header-text-sm {
            padding-top: 5px;
            color: white;
            margin-top: 0px;
            margin-left: 40px;
            font-size: 16pt;
        }

    </style>
</head>
<body style="margin: 0; background-color: #f8f8f8;">
    <div style="width: 700px; margin: 0px auto;">
        @*// Top Border //*@
        <div class="top-border">
            <span style="float: right; margin-right: 15px;"><a href="https://petaccent.com/Login">Sign In</a></span>
            <span style="float: right; margin-right: 0px;"><a href="https://petaccent.com/">Home</a></span>
        </div>
        @*// Header //*@
        <div class="header">
            <div style="float: right; padding-top: 5px;">
                <a style="display: inline-block;" href="https://www.facebook.com/PetAccent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/facebook.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block;" href="https://www.twitter.com/pet_accent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/twitter.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block;" href="https://www.instagram.com/pet_accent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/instagram.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block;" href="https://www.pinterest.com/petaccent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/pinterest.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
            </div>
            <div class="banner">
                Pet Accent
            </div>
        </div>
        @*// Top Image //*@
        <div style="background-image: url('/Content/img/bg/feat-dd.jpg');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat; height: 340px; position: relative;">

            <div class="header-text-lg">
                Your order has shipped!
            </div>
            <div class="header-text-sm">
                It's on its way!
            </div>
        </div>
        @*// Body //*@
        <div class="body">
            Hi, @Model.FirstName!<br /><br />
            Thanks again for placing your order at PetAccent.com! Your order has been shipped! Let us know if you have any questions or concerns.<br /><br />

            Carrier: USPS<br />
            Tracking Number: @Model.ShoppingCart.Order.TrackingNumber<br /><br />
                
            Sincerely,<br />
            Customer Service<br />
            PetAccent.com
        </div>
        @*// Footer //*@
        <div class="footer">
            <div class="footer-right">
                <div style="position: absolute; right: 150px; top: 9px; width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/envelope-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                <div style="position: absolute; right: 5px; top: 18px;">
                    <a class="footer-email" href="mailto:service@petaccent.com">
                        service@petaccent.com
                    </a>
                </div>
            </div>
            <div class="footer-left">
                <a style="display: inline-block; margin-top: -10px;" href="https://www.facebook.com/PetAccent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/facebook-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block; margin-top: -10px;" href="https://www.twitter.com/pet_accent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/twitter-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block; margin-top: -10px;" href="https://www.instagram.com/pet_accent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/instagram-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
                <a style="display: inline-block; margin-top: -10px;" href="https://www.pinterest.com/petaccent/">
                    <div style="width: 37px; height: 37px; background-image: url('http://www.petaccent.com/content/img/social-email/pinterest-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>