﻿@using System.Configuration;
@model SalesTemplate.Models.EmailModel
@{ Layout = null; }
<html style="height: 100%; width: 100%;">
<head>
    <style>
        body {
            background-color: #fff;
            font-family: "Raleway";
            font-size: 11pt;
        }

        .body {
            background-color: #f0f0f0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 20px;
        }

        h1,h2,h3,h4,h5,h6,h7 {
            font-family: 'Raleway',sans-serif;
            font-weight: 400;
            color: #444;
        }

        a {
            color: #656565;
            text-decoration: none;
            margin: 0px 10px;
        }

        a:hover, a:focus {
            color: #ee4a42;
        }

        .top-border {
            background-color: #ee4a42;
            height: 25px;
            font-size: 10pt;
            padding-top: 10px;
            font-family: 'Raleway',sans-serif!important;
        }

        .top-border a {
            color: white;
            text-decoration: none;
        }

        .top-border a:hover {
            color: white;
            text-decoration: none;
        }

        .header {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: right;
            height: 50px;
        }

        .banner {
            color: #ee4a42;
            text-decoration: none;
            font-size: 28pt;
            float: left;
            padding-top: 3px;
        }

        .payment-service .payment-service-block {
            width: 100%;
            height: 250px;
            overflow: hidden;
            position: relative;
            float: left;
            margin-bottom: 20px;
            background: rgba(255,255,255,.7);
            border: 1px solid #9f98ad;
            border-top: 2px solid #ee4a42;
        }

        .payment-service .payment-service-block i {
            margin: auto;
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 70px;
            border: 1px solid #9f98ad;
        }

        .payment-service .payment-service-block:hover {
            background: #4f5367;
        }

        .payment-service .payment-service-block:hover .payment-service-icon i {
            background-color: #fff;
        }

        .payment-service .payment-service-block:hover .payment-service-main {
            color: #fff;
        }

        .payment-service .payment-service-block:hover .payment-service-sub {
            color: #fff;
        }

        .payment-service .payment-service-block a {
            text-align: left;
            width: 100%;
            height: 100%;
            display: block;
            color: #333;
            position: relative;
        }

        .payment-service .payment-service-block .payment-service-icon {
            font-size: 42px;
            color: #4f5367;
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            top: 25px;
            text-align: center;
        }

        .payment-service .payment-service-block .payment-service-icon i {
            line-height: 100px;
            text-align: center;
        }

        .payment-service .payment-service-block .payment-service-content {
            position: absolute;
            left: 0;
            width: 100%;
            height: 50%;
            top: 50%;
        }

        .payment-service .payment-service-block .payment-service-main {
            font-size: 24px;
            color: #ee4a42;
            padding: 0 10px;
            font-family: 'Raleway',sans-serif;
            text-align: center;
        }

        .payment-service .payment-service-block .payment-service-sub {
            text-align: center;
            font-size: 14px;
            right: 0;
            color: #333;
            /*line-height: 40px;*/
            padding-bottom: 10px;
            opacity: .8;
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-bottom: 0;
        }

        .fa {
            color: black!important;
        }

        .footer {
            background-color: #f8f8f8;
            height: 50px;
            background-color: #ee4a42;
            clear: both;
            font-family: 'Raleway',sans-serif!important;
        }

        .footer-right {
            float: right;
            padding-top: 7px;
            margin-right: 12px;
            position: relative;
        }

        .footer-left {
            float: left;
            padding-top: 7px;
            margin-left: 20px;
        }

        .footer i:hover, i:focus {
            color: white!important;
        }

        .footer-email {
            margin-left: 0px;
            color: white!important;
            text-decoration: none;
            font-size: 10pt;
        }

        .header-text-lg {
            padding-top: 5px;
            margin: 0 auto;
            color: white;
            padding-top: 120px;
            padding-left: 20px;
            font-size: 22pt;
            font-family: 'Raleway',sans-serif !important;
        }

        .header-text-sm {
            padding-top: 5px;
            margin: 0 auto;
            color: white;
            margin-top: 0px;
            margin-left: 40px;
            font-size: 16pt;
            font-family: 'Raleway',sans-serif !important;
        }

        td {
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }



    </style>    
</head>
<body style="margin: 0; background-color: #f8f8f8;">
        <div style="width: 700px; margin: 0px auto;">
            @*// Top Border //*@
            <div class="top-border">
                <span style="float: right; margin-right: 15px;"><a href="https://petaccent.com/Login">Sign In</a></span>
                <span style="float: right; margin-right: 0px;"><a href="https://petaccent.com/">Home</a></span>
            </div>
            @*// Header //*@
            <div class="header">
                <div style="float: right; padding-top: 5px;">
                    <a style="display: inline-block;" href="https://www.facebook.com/PetAccent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/facebook.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block;" href="https://www.twitter.com/pet_accent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/twitter.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block;" href="https://www.instagram.com/pet_accent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/instagram.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block;" href="https://www.pinterest.com/petaccent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/pinterest.png');
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;"></div>
                    </a>
                </div>
                <div class="banner">
                    Pet Accent
                </div>
            </div>
            @*// Top Image //*@
            <div style="background-image: url('https://www.petaccent.com/Content/img/preview/slider/1_bg.jpg');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat; height: 345px; position: relative;">


                <div class="header-text-lg">
                    Welcome to Pet Accent!
                </div>
                <div class="header-text-sm">
                    Fashionable, fun, friendly
                </div>
            </div>
            @*// Body //*@
            <div class="body">
                Welcome, @Model.FirstName!<br /><br />
                Thank you for signing up with PetAccent.com. @(Model.Promotion ? "Your account has been granted a $10 credit for use any time you'd like. " : "")
                Stay tuned for product updates and news from the site! <br /><br />
                10% of every order goes to charity, forever.<br /><br />
                Every time you make a purchase on PetAccent.com 10% of your order's proceeds will be sent to the charity of your choosing, selected from a list of
                our preferred animal charities at the time of checkout. We send out checks to these charities quarterly. Donating to charity is a part of our committment to helping animals in
                need and is not a temporary policy or promotional offer.<br /><br />
                Sincerely,<br />
                PetAccent.com                 
            </div>
            @*// Extras //*@
            <div class="payment-service" style="clear: both; margin-top: 20px;">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="payment-service-block">
                                <a href="https://petaccent.com/About">
                                    <div class="payment-service-icon">
                                        <div style="width: 103px; height: 103px; margin: 0 auto; padding-top: 40px; background-image: url('https://www.petaccent.com/content/img/social-email/gift.png');
                                            background-position: center center;
                                            background-size: contain;
                                            background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                    <div class="payment-service-content">
                                        <h2 class="payment-service-main">Fast, Easy Shipping!</h2>
                                        <h3 class="payment-service-sub hidden-xxs">Get your order as fast as possible!</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="payment-service-block">
                                <a href="https://petaccent.com/About">
                                    <div class="payment-service-icon">
                                        <div style="width: 103px; height: 103px; margin: 0 auto; padding-top: 40px; background-image: url('https://www.petaccent.com/content/img/social-email/lock.png');
                                            background-position: center center;
                                            background-size: contain;
                                            background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                    <div class="payment-service-content">
                                        <h2 class="payment-service-main">100% Secure Payment</h2>
                                        <h3 class="payment-service-sub hidden-xxs">2048-bit SSL | Comodo Cert</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="payment-service-block" style="display: inline-block;">
                                <a href="https://petaccent.com/About">
                                    <div class="payment-service-icon">
                                        <div style="width: 107px; height: 107px; margin: 0 auto; padding-top: 40px; background-image: url('https://www.petaccent.com/content/img/social-email/dollarsign.png');
                                            background-position: center center;
                                            background-size: contain;
                                            background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                    <div class="payment-service-content">
                                        <h2 class="payment-service-main">Free Return<br />Shipping Labels</h2>
                                        <h3 class="payment-service-sub hidden-xxs">No hassle, no fuss</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="payment-service-block" style="display: inline-block;">
                                <a href="https://petaccent.com/About">
                                    <div class="payment-service-icon">
                                        <div style="width: 103px; height: 103px; margin: auto; padding-top: 40px; background-image: url('https://www.petaccent.com/content/img/social-email/guarantee.png');
                                            background-position: center center;
                                            background-size: contain;
                                            background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                    <div class="payment-service-content">
                                        <h2 class="payment-service-main">Money Back Guarantee</h2>
                                        <h3 class="payment-service-sub hidden-xxs">Not satisfied? No Problem!</h3>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>               
            </div>
            @*// Footer //*@
            <div class="footer">
                <div class="footer-right">
                    <div style="width: 37px; height: 37px; display: inline-block; margin-right: -5px; background-image: url('https://www.petaccent.com/content/img/social-email/envelope-r.png');
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;"></div>
                    <div style="display: inline-block; vertical-align: top; padding-top: 11px;">
                        <a class="footer-email" href="mailto:service@petaccent.com">
                            service@petaccent.com
                        </a>
                    </div>
                </div>
                <div class="footer-left">
                    <a style="display: inline-block; margin-top: -10px;" href="https://www.facebook.com/PetAccent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/facebook-r.png');
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block; margin-top: -10px;" href="https://www.twitter.com/pet_accent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/twitter-r.png');
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block; margin-top: -10px;" href="https://www.instagram.com/pet_accent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/instagram-r.png');
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;"></div>
                    </a>
                    <a style="display: inline-block; margin-top: -10px;" href="https://www.pinterest.com/petaccent/">
                        <div style="width: 37px; height: 37px; background-image: url('https://www.petaccent.com/content/img/social-email/pinterest-r.png');
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;"></div>
                    </a>
                </div>
            </div>
        </div>
</body>
</html>