﻿<section>
    <div class="block-breadcrumb color-scheme-3">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/Home">Home</a></li>
                <li class="active">Register</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="color-scheme-3" style="padding-bottom: 25px;">
        <div class="container">
            <div class="header-1">
                <h1>Register</h1>
                <div class="header-bottom-line"></div>
                <h3>CREATE NEW ACCOUNT</h3>
            </div>
            <div class="row">
                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="block-form box-border register-box">
                        <div style="margin-bottom: -10px;">
                            <div style="display: inline-block;">
                                <h3>Personal Information</h3>
                            </div>
                            <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                                <span class="pull-right glyphicon glyphicon-user"></span>
                            </div>
                        </div>
                        <hr>
                        <form class="form-horizontal" role="form" id="register-form">
                            <label class="control-label">First Name:</label>
                            <div class="form-group has-feedback">
                                <input type="text" class="reg-input form-control" id="reg-first-name" value="@Model.FirstName">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <label class="control-label">Last Name:</label>
                            <div class="form-group has-feedback">
                                <input type="text" class="reg-input form-control" id="reg-last-name" value="@Model.LastName">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <label class="control-label">Email:</label>
                            <div class="form-group has-feedback">
                                <input type="text" class="reg-input form-control" id="reg-email" value="@Model.EmailAddress">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <div style="margin-top: 10px; margin-bottom: -10px;">
                                <div style="display: inline-block;">
                                    <h3>Password</h3>
                                </div>
                                <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                                    <span class="pull-right glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                            <hr>
                            <label class="control-label">Password:</label>
                            <div class="form-group has-feedback">
                                <input type="password" class="reg-input form-control" id="reg-password1">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <label class="control-label">Re-Password:</label>
                            <div class="form-group has-feedback">
                                <input type="password" class="reg-input form-control" id="reg-password2">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <button type="submit" class="btn-default-1 submit-reg-btn">Register</button>
                                <button class="wait-spinner-register btn-wait" style="width: 105px; background-color: unset;" disabled="disabled">
                                    <div class="sk-spinner sk-spinner-wave">
                                        <div class="sk-rect1"></div>
                                        <div class="sk-rect2"></div>
                                        <div class="sk-rect3"></div>
                                        <div class="sk-rect4"></div>
                                        <div class="sk-rect5"></div>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </article>
                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="block-form box-border">
                        <h3>Checkout as Guest</h3>
                        <hr>
                        <p>Checkout as a guest instead!</p>
                        <a href="/Checkout" class="btn-default-1">As Guest</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<script>
    $('#register-form').on('submit', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        register();
    });
    $(document).on('focus', '.reg-input', function (e) {
        removeBasicInputError($(this));
        removeNonTextError($(this));
    });
    $(document).on('keydown', '.reg-input', function (e) {
        removeBasicInputError($(this));
        removeNonTextError($(this));
    });
    function register() {
        var firstName = $('#reg-first-name');
        var lastName = $('#reg-last-name');
        var password1 = $('#reg-password1');
        var password2 = $('#reg-password2');
        var email = $('#reg-email');

        if (email.val() != '' && password1.val() != '' && password2.val() != '' && firstName.val() != '' && lastName.val() != '') {

            if (!isValidEmailAddress(email.val())) {
                addBasicInputError(email);
                alertify.error('Invalid email address');
            }
            else if (password1.val() != password2.val()) {
                addNonTextError(password2);
                alertify.error('Passwords must match!');
            }
            else {
                $('.submit-reg-btn').hide();
                $('.wait-spinner-register').show();
                $.post('/Register/Register', getRegisterData(), registerResult);
            }
        }
        else {
            if (firstName.val() == '') {
                addBasicInputError(firstName);
            }
            if (lastName.val() == '') {
                addBasicInputError(lastName);
            }
            if (email.val() == '') {
                addBasicInputError(email);
            }
            if (password1.val() == '') {
                addNonTextError(password1);
            }
            if (password2.val() == '') {
                addNonTextError(password2);
            }
        }
    }
    function getRegisterData() {
        var firstName = $('#reg-first-name');
        var lastName = $('#reg-last-name');
        var password1 = $('#reg-password1');
        var password2 = $('#reg-password2');
        var email = $('#reg-email');
        return {
            __RequestVerificationToken: GLB_TOKEN,
            FirstName: $('#reg-first-name').val(),
            LastName: $('#reg-last-name').val(),
            EmailAddress: $('#reg-email').val(),
            Password: $('#reg-password1').val()
        }
    }
    function registerResult(result) {
        $('.wait-spinner-register').hide();
        $('.submit-reg-btn').show();
        if (result.Success) {
            alertify.success('Registration successful!');
            var count = $('[name="hdnCartCount"]').val();
            if (count != '') {
                if (count > 0) {
                    window.location = '/Cart';
                }
                else {
                    window.location = '/Products';
                }
            }
        }
        else {
            alertify.error(result.ErrorMessage);
            if (result.ErrorMessage.toLowerCase().indexOf("email") >= 0) {
                var email = $('#reg-email');
                addBasicInputError(email);
            }
        }
    }
</script>
