﻿.alertify .ajs-dialog {
    position: absolute;
    top: calc(50% - 110px);
    margin: auto;
    min-height: 110px;
    max-width: 500px;
    padding: 24px 24px 0 24px;
    outline: 0;
    background-color: #fff;
    position: relative;
}
