﻿@model SalesTemplate.Models.AboutModel
@Html.HiddenFor(x => x.ReCatpchaSiteKey)
@Html.Hidden("hdnTestEnv", "False", new { id = "hdnTestEnv" })
@Html.Hidden("hdnCurrentPromoAmount", Model.CurrentPromoAmount)
<section>
    <div class="block-breadcrumb color-scheme-3">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/Home">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="color-scheme-3" style="padding-bottom: 35px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block-form box-border">
                        <div class="header-1">
                            <div class="text-center">
                                <div style="display: inline-block;">
                                    <h3>About Pet Accent</h3>
                                </div>
                                <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                                    <span class="pull-right glyphicon glyphicon-book"></span>
                                </div>
                            </div>
                            <div class="header-bottom-line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    At PetAccent.com we strive to give our customers a great experience and continue giving in support of your favorite animal charities.
                                    You can rest assured that your purchase will be shipped quickly and that a part of every purchase goes to the animal charity of
                                    your choice.
                                    <br /><br />
                                    Pet Accent is based in Dallas, Tx and is are an American company. Thank you for being a part of PetAccent.com. We hope you enjoy our selection and we thank you and your pet!
                                    <br /><br />
                                    Don't forget to like us on Facebook and follow us on Twitter and Instagram!
                                    <hr />
                                </p>
                                <p>
                                    <h4>10% of every order goes to charity, forever</h4>
                                    Every time you make a purchase on PetAccent.com 10% of your order's proceeds will be sent to the charity of your choosing, selected from a list of
                                    our preferred animal charities at the time of checkout. We send out checks to these charities quarterly. Donating to charity is a part of our committment to helping animals in
                                    need and is not a temporary policy or promotion. <br /><br />
                                    Feel free to email Customer Service and suggest a new charity not currently on our list. After some research we could add your suggestion and start donating to that charity.
                                    <hr />
                                </p>
                                <p>
                                    <h4>Return Policy</h4>
                                    Thank you for making your purchase at PetAccent.com! Our committment to customer service is our highest priority. These are our return policy guidelines
                                    that we have set in place to make your experience with PetAccent.com great!<br /><br />

                                    <ul>
                                        <li>30 day money back guarantee</li>
                                        <li>After 30 days 10% of your order(s) proceeds will be committed to the charity you chose during checkout to be sent to that charity in the quarter's charity donation mailing. After 30 days no refunds can be given. Return packages must be post marked within 30 days of customer's receipt of item(s).</li>
                                        <li>
                                            If you receive the wrong item(s) PetAccent.com will pay for the return shipping and email you a return shipping label, free of charge.
                                            If you received the correct items and are unhappy with your purchase you may return your items for a full refund at your own return shipping expense within 30 days of receiving your original shipment.
                                            Please return the original paper receipt or packing slip along with the items you are returning so that
                                            we may correctly identify your transaction and refund the items via your original payment method.
                                        </li>
                                        <li>Items that have been used, warn or damaged by the customer or pet unfortunately may not be returned for a refund. This is for the safety and protection of all customers and pets.</li>
                                    </ul><br />

                                    If you need to make a return based on the criteria above please contact us <a style="color: blue; text-decoration: underline;" href="mailto:returns@petaccent.com">here</a>, or in the message center to the right or below, for your free return shipping label (where allowed). Please make sure to include your full name, email address, shipping address where original shipment was sent, and your order number. Thank you
                                    <hr />
                                </p>
                                <p>
                                    <h4>Privacy Policy</h4>
                                    In a time when privacy is lacking we have a commitment to our customers' privacy and are big proponents of privacy. None of your information will ever be shared or sold to any other person, company or entity. None of your information will be used by anyone but PetAccent.com, for any reason, ever. It's as simple as that.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-form box-border">
                        <div class="header-1 text-center">
                            <div>
                                <div style="display: inline-block;">
                                    <h3>Send Message</h3>
                                </div>
                                <div style="display: inline-block; margin-left: 7px; margin-bottom: 2px;">
                                    <span class="pull-right glyphicon glyphicon-envelope"></span>
                                </div>
                            </div>
                            <div class="header-bottom-line"></div>
                        </div>
                        <form id="about-msg-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Name: </label>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="about-input form-control" id="aboutName">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Email: </label>
                                    <div class="form-group has-feedback">
                                        <input type="email" class="about-input form-control" id="aboutEmail">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Subject: </label>
                                    <div class="form-group has-feedback">                                        
                                        <input type="text" class="about-input form-control" id="aboutSubject">
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Message: </label>
                                    <div class="form-group has-feedback">                                        
                                        <textarea maxlength="500" class="about-input form-control" style="resize: none; height: 100px;" id="aboutMessage"></textarea>
                                        <span class="glyphicon form-control-feedback"></span>
                                    </div>
                                    <span class="pull-right" style="font-size: 10pt;"><span id="amCount">500</span> characters left</span>
                                </div>
                            </div>
                            <hr>
                            <div style="width: 100px; height: 40px; padding-bottom: 10px; text-align: center; cursor: pointer;"
                                class="g-recaptcha btn-default-1"
                                    data-sitekey="@Model.ReCatpchaSiteKey"
                                    data-callback="submitValidated"
                                    data-size="invisible">
                                Submit
                            </div>
                            <button class="wait-spinner-submit btn-wait" style="width: 134px; background-color: unset;" disabled="disabled">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Scripts/Site/about.js"></script>