﻿@model SalesTemplate.Models.CheckoutModel
<div id="order-complete-html">
    @if (Model.OrderSuccess)
    {
        <div class="row">
            <div class="col-xs-6">
                <div class="text-center">Shipping Address</div>
                <br />
                <div class="text-center">
                    <div id="shippingName">@Model.ShoppingCart.Order.ShippingName</div>
                    <div id="shippingStreet1">@Model.ShoppingCart.Order.ShippingStreet1, @Model.ShoppingCart.Order.ShippingStreet2</div>
                    <div id="shippingCityStateZip">@Model.ShoppingCart.Order.ShippingCity, @Model.ShoppingCart.Order.ShippingState, @Model.ShoppingCart.Order.ShippingPostalCode</div>
                    <div id="shippingCountry">@Model.ShoppingCart.Order.ShippingCountryFull</div>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div>Total</div>
                <h1><span id="order-total">@Model.ShoppingCart.Order.OrderTotal</span></h1>
            </div>
        </div>
    }
    @if (Model.OrderSuccess)
    {
        <div class="row">
            <div class="col-xs-12 text-center" style="margin-top: 30px;">
                <div>Order Confirmation</div>
                <div class="order-id" style="margin-top: -15px;">
                    <h3><b>@Model.ShoppingCart.Order.OrderID</b></h3>
                </div>
            </div>
        </div>
    }
    <div class="row">        
        <div class="col-xs-12 text-center">
            @if (Model.OrderSuccess)
            { <hr /> }
            <div class="order-message" style="margin-bottom: 30px;">
                @Html.Raw(Model.FinalMessage)
            </div>
        </div>
    </div>
</div>
